In [3]:
# import the necessary packages 
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from matplotlib import gridspec

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [5]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

In [6]:
from imblearn.over_sampling import SMOTE

In [7]:
public = pd.read_csv("dataset_1st/public_processed.csv")

In [8]:
public.head()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,flam1,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk
0,a2c1209018e4e52e04f6fabb48f05f1b8bc09dc838ff6c...,56,105157,d6d145d0d058e3f63b9ec421cf9e1543b0c3e059d18c2c...,9c454e0cf3680075b0382394ca59b00ee9435fd829da29...,4,1.0,8be206f97d10b57a46ea0ef5527155a0f9b48d16255b70...,2a608b081c09492bd2bc96d7def5371c4bc9cabf324a98...,272.0,...,1349,0.0,15759.0,NaN,0,0,6.0,70.0,1349,0
1,16c4880500059e01553789be11bbb50753b7acaae7b95b...,56,185520,b599fb83473599fa2df4a04136a668c28df7914293f1da...,9f097cba6a70333c906904ebaad438356cf75b6abf5dd4...,5,8.0,dd280b4f35a02701142ba7de47abb9736deca3eed86474...,46f63555d29f177290dfe20e989146fb033e453f1d5ff3...,320.0,...,306,0.0,13451.0,NaN,0,0,6.0,70.0,306,0
2,623c56be3bee87724e3d119c271d9ed098eeda84233183...,59,102312,8de197129150d454df1639e9743c1aa11b1c1122a2010c...,439691cb167b272661c2eb9073124f5d422f446b0f92fb...,5,1.0,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,494.0,...,20,0.0,15759.0,NaN,0,0,NaN,NaN,0,0
3,250da12187059cf6e3a3066656a2919d08ceb8207efd55...,58,230138,f9cbad08a76f1dd9736a4fc51255eb55637ec0a417a406...,992679b728784192c17e90939918cbfae32ad1222fad26...,5,5.0,bd2b3523b4ecd652445b75ea7583c92f6f02af3971251b...,70dac5b1dfde828f556a93321a649df72891db35430588...,272.0,...,8339,42.0,12381.0,NaN,0,0,6.0,70.0,8339,0
4,4b268e0da036f44cbbb056ddfac6a28ea336d9cf299843...,59,101937,27d235e691a425098f291105f78f9877e05bb75e1f132b...,763fd2a91420f9b632c378ca82ff9e318851fa1964cbba...,5,5.0,156987f72b8993b8c5a898fa76f3b8e6454e10e18aa238...,89b1654aaef0b65b1868004cfdce2dcbb67f15b7fba535...,217.0,...,163,126.0,14786.0,NaN,0,0,6.0,68.0,5,0

In [9]:
data = pd.read_csv("dataset_1st/training.csv")

In [10]:
data.head()

,txkey,locdt,loctm,chid,cano,contp,etymd,mchno,acqic,mcc,...,stocn,scity,stscd,ovrlt,flbmk,hcefg,csmcu,csmam,flg_3dsmk,label
0,1c09727c939eb69ead2a4ce4072b8aa18992a64f01fcb4...,46,101812,84d2dc85d4da6a7fa284a11a4290d7e9a969163dcb4d82...,3dd5bf1e29e5e0baa789ce692fe5dbd34ff05173acf351...,5,1.0,cad752c5d05d2bdcc30d64fa4e68404c2d1f7be5d14d52...,8f6b3ff512a001e0d1988c6cd888ef8c74112fb71117e5...,375.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,1529,0,0
1,2043f245a93bc6328dac964d6dbc89f13a0346062c194d...,17,85509,9a8cf5d0afd729cb7876f6b3172152c7c9c6fabd40515c...,8cb13f9b38c7bbc02d210e580dcbbcbb6c95bf18bc3320...,5,8.0,4356c6642ef6e837543b577c7ee3ffa92b4b8fcfb57254...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,282.0,...,0.0,15759.0,NaN,0,0,8.0,70.0,101,0,0
2,e4853710290a8409279f3279f8032ae670824bd19aa173...,44,212641,dcc1389a5765d6f53152cf85970fbe78a83fd3d1c299b0...,1ec32868e5e1d5ff8df56737c2a91326cbfe3364382de6...,5,4.0,5b7eff061f8896aac4339ea35c25f8bb956a43bc486460...,8f6b3ff512a001e0d1988c6cd888ef8c74112fb71117e5...,288.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,116,0,0
3,74d811b1dbc28b22b73ba2c79bb6033791d913b6d27a25...,42,102702,577f2329d1eccd59ba0abaf6113bb78dcd575badcbc57f...,4359dca1ac6a835eceb2bc0dd6b0b710f030c3499126e9...,5,1.0,cad752c5d05d2bdcc30d64fa4e68404c2d1f7be5d14d52...,36684976be1f529e6e2a32c9edab4cf8e364b2b916ae2c...,375.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,1683,0,0
4,68ca182343969d429d79a34e532bc1ca7a3cc032c2ad81...,31,185737,fff6b4126c40620b1fbb11d4de02cd67b9e95071caa40b...,a3837f2905383f235a72679482c5f02e40f2a8ca29750d...,5,5.0,50d5b02ce3fc88723438c2a29cfdb04be4a1a11280ddb6...,379166ff4a62dac343b4b734188aa618716cc496e48b65...,406.0,...,0.0,15759.0,NaN,0,0,6.0,70.0,14,0,0

In [12]:
print(f'fraud case: {sum(data["label"] == 1)}')
print(f'valid transaction: {sum(data["label"] == 0)}')
print(f'fraud rate: {round(sum(data["label"] == 1)/len(data), 4)}')

fraud case: 32029
valid transaction: 8656497
fraud rate: 0.0037

In [13]:
data.columns
data.dtypes

txkey         object
locdt          int64
loctm          int64
chid          object
cano          object
contp          int64
etymd        float64
mchno         object
acqic         object
mcc          float64
conam        float64
ecfg           int64
insfg          int64
iterm        float64
bnsfg          int64
flam1          int64
stocn        float64
scity        float64
stscd        float64
ovrlt          int64
flbmk          int64
hcefg        float64
csmcu        float64
csmam          int64
flg_3dsmk      int64
label          int64
dtype: object

In [14]:
data.isnull().sum()

txkey              0
locdt              0
loctm              0
chid               0
cano               0
contp              0
etymd         203455
mchno              0
acqic              0
mcc             4550
conam              0
ecfg               0
insfg              0
iterm              0
bnsfg              0
flam1              0
stocn            600
scity         266066
stscd        8665195
ovrlt              0
flbmk              0
hcefg         286656
csmcu         498657
csmam              0
flg_3dsmk          0
label              0
dtype: int64

In [33]:
data1 = data.drop(['txkey', 'chid', 'cano', 'mchno', 'acqic', 'stscd'], axis = 1).dropna()
data2 = data1.sample(n = 1000000, random_state = 6969)

In [34]:
# X = data1.drop(['label'], axis = 1)
# Y = data1['label']

In [35]:
X = data2.drop(['label'], axis = 1)
Y = data2['label']
print(X.shape)
print(Y.shape)

(1000000, 19)
(1000000,)

In [36]:
print(X.head())

         locdt   loctm  contp  etymd    mcc  conam  ecfg  insfg  iterm  bnsfg  \
4530872      5  115630      5    5.0  275.0  159.0     1      0    0.0      0
5031322     14  130606      5    8.0  282.0   99.0     1      0    0.0      0
2609054     34  114042      5    8.0  217.0    0.0     1      0    0.0      0
4729771      6  163932      5    4.0  213.0  725.0     0      0    0.0      0
5311007     36   81024      5    5.0  273.0   85.0     1      0    0.0      0

         flam1  stocn    scity  ovrlt  flbmk  hcefg  csmcu  csmam  flg_3dsmk
4530872    160    0.0   5224.0      0      0    6.0   70.0    160          0
5031322     99    0.0  15759.0      0      0    6.0   70.0     99          0
2609054      0   90.0  16525.0      0      0    6.0   33.0      0          0
4729771    725    0.0  15759.0      0      0    0.0   70.0    725          0
5311007     85    0.0  15759.0      0      0    6.0   70.0     85          0

In [37]:
xTrain, xTest, yTrain, yTest = train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [38]:
xRes, yRes = SMOTE().fit_resample(xTrain, yTrain)
print(xRes.shape)
pd.crosstab(index = yRes, columns = 'count')

(1394616, 19)

col_0   count
label
0      697308
1      697308

In [39]:
rfc = RandomForestClassifier()

In [40]:
# rfc = rfc.fit(xTrain, yTrain)
rfc = rfc.fit(xRes, yRes)

In [41]:
yPred = rfc.predict(xTest)

In [42]:
acc = accuracy_score(yTest, yPred)
print(f'Accuracy: {round(acc, 4)}')

Accuracy: 0.9959

In [43]:
f1 = f1_score(yTest, yPred)
print(f'F1 score: {round(f1, 4)}')

F1 score: 0.4969

In [44]:
cm = confusion_matrix(yTest, yPred)
print(cm)

[[298155    593]
 [   642    610]]

In [45]:
public1 = public.drop(['txkey', 'chid', 'cano', 'mchno', 'acqic', 'stscd'], axis = 1).fillna(0)

In [46]:
pPred = rfc.predict(public1)

In [47]:
d = {'txkey': public['txkey'], 'pred': pPred}
sumit = pd.DataFrame(data = d)

In [49]:
pd.crosstab(index = sumit['pred'], columns = 'count')

col_0   count
pred
0      599458
1         724

In [48]:
sumit.to_csv('sumit_rf_1.csv', index = False)